<section class="author-profile">
  <div class="container">
    <div class="author-hero">
      <img
        src="{{author_avatar}}"
        alt="{{author_name}}"
        class="author-profile-avatar"
        onerror="this.src='/static/images/default.png'"
      >

      <div class="author-profile-info">
        <h1>{{author_name}}</h1>

        <p class="author-profile-role">
          {{author_role}}
        </p>

        <p class="author-profile-bio">
          {{author_bio}}
        </p>

        {{{author_facts_html}}}

        {{#if author_social}}
        <div class="author-profile-social">
          {{author_social}}
        </div>
        {{/if}}
      </div>
    </div>

    {{{author_stats_html}}}

    {{components_top}}

    {{{author_nav_html}}}

    {{components_content_top}}

    {{{author_sections_html}}}

    {{components_content_bottom}}
    {{components_bottom}}
  </div>
</section>
