{{components_top}}
<section class="section">
  <div class="container">
    {{components_content_top}}
    {{hub_subnav_html}}
    <div class="section-header">
      <h1>{{category}}</h1>
      <p>{{description}}</p>
      {{{landing_byline_html}}}
    </div>
    {{{landing_nav_html}}}
    <div class="casino-grid" id="landing-items">
      {{casino_cards}}
    </div>
    {{{landing_sections_html}}}
    {{{landing_faq_schema_html}}}
    {{#if sections_html}}
    <div class="seo-landing__sections">
      {{sections_html}}
    </div>
    {{/if}}
    {{components_content_bottom}}
    {{components_bottom}}
  </div>
</section>
