{{components_top}}
<article class="comparison-detail">
  <div class="container">
    {{components_content_top}}
    <header class="comparison-header">
      <h1>{{title}}</h1>
      {{#if description}}<p class="comparison-description">{{description}}</p>{{/if}}
      {{{summary_html}}}
    </header>

    <div class="cmp-toolbar">
      <label class="cmp-toggle"><input type="checkbox" id="cmpDiffOnly"> Show differences only</label>
    </div>

    <div class="comparison-table-wrap cmp-wrap">
      <table class="comparison-table cmp-table" id="cmpTable">
        <thead>
          <tr>
            <th class="comparison-table__criterion-col cmp-corner" scope="col">Compare</th>
            {{{item_header_cells_html}}}
          </tr>
        </thead>
        <tbody>
          <tr class="comparison-table__rating-row cmp-rating-row">
            <th scope="row" class="cmp-label">Rating</th>
            {{{item_rating_cells_html}}}
          </tr>
          {{{criteria_rows_html}}}
          {{{more_rows_html}}}
          <tr class="comparison-table__cta-row">
            <th scope="row" class="cmp-label">&nbsp;</th>
            {{{item_cta_cells_html}}}
          </tr>
        </tbody>
      </table>
    </div>

    {{#if editorial_pick_html}}
    <div class="info-block">
      <h2>Our Pick</h2>
      {{{editorial_pick_html}}}
    </div>
    {{/if}}

    {{components_content_bottom}}
  </div>
  {{components_bottom}}
</article>
<script src="/static/js/comparison.js" defer></script>
